@media (max-width: 1200px)
  .menu
    &_item
      padding-right: 20px
    &_link
      font-size: 13px

  .promo
    &_header
      font-size: 50px

  .reasons
    &_block
      align-items: flex-start
      height: 100%

  .mobile
    &_item
      width: 300px
      &_subtitle
        font-size: 22px

  .require
    &_block
      margin: 15px
    &_list li
      margin-bottom: 7px

  .footer
    &_links
      width: 315px
